.button-simple {
    width: 100%;

    background-color: var(--azul-claro);
    border: 1px solid transparent;
    color: white;
    padding: 1rem;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}

.button-simple.secondary {
    background-color: transparent;
    border: 1px solid var(--azul-claro);
    color: var(--azul-claro);
}