#circular-container {
    width: 100px;
    height: 100px;
}

.circular-container-track .circular-container-indication {
    cx: 50px;
    cy: 50px;
    r: 40px;
    fill: transparent;
    stroke-width: 10px;
}

.circular-container-track {
    stroke: black;
}

.circular-container-indication {
    stroke: red;
}