#result-container{
    background-color: var(--azul-palido);
    height: 112px;
}
.result-container__item:nth-child(1){
    margin-right: 40px;
    margin-left: 1.2rem;
}

.result-container__item:last-of-type {
    width: 150px;
}