:root {
    font-size: 16px;
    --cinza: #999999;
    --cinza-escuro: #333333;
    --cinza-claro: #C4C4C4;
    --azul-palido: #e1f2ff;
    --azul-claro: #21BDCA;
  }

  .links {
    text-decoration: none;
  }
  
  *{
    box-sizing: border-box;
  }
  
  body {
    overflow-x:hidde
  }